//Helpers class

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.input-control {
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  height: 45px;
  padding: 0 8px;
  margin-bottom: 3px;
  border: 1px solid $color-scheme-1;
  outline-color: yellow;
}

.btn {
  background-color: $color-scheme-5;
  outline: 0;
  border: 1px solid darken($color-scheme-5, 10%);
  border-radius: 5px;
  padding: 8px 16px;
  margin: 6px 0;
  color: #fff;
  font-size: 1.05rem;
  font-weight: normal;
  &:hover {
    background-color: darken($color-scheme-5, 10%);
  }
  &:focus {
    outline: dotted 1px lighten($color-scheme-5, 25%);
  }
}

.btn-circle {
  box-sizing: border-box;
  border-radius: 50%;
  border: none;
  height: 50px;
  width: 50px;
  background-color: transparent;
  color: $color-scheme-3;
  border: 2px solid $color-scheme-3;
  font-size: 1.33rem;
  padding-top: 2px;
  outline: 0;
  &:hover {
    color: darken($color-scheme-3, 10%);
    border-color: darken($color-scheme-3, 10%);
  }
  &:focus {
    outline: dotted 1px lighten(#000, 50%);
  }
}
