//Theme Colors
$color-scheme-1: #00a650;
$color-scheme-2: #d3dee0;
$color-scheme-3: #ce2812;
$color-scheme-4: #152614;
$color-scheme-5: #1e441e;

//Type Colors
$restaurant-color: #ce2812;
$attraction-color: #00a650;
$hotel-color: #ffe600;
$default-type-color: #fff;

:export {
  restaurantColor: $restaurant-color;
  attractionColor: $attraction-color;
  hotelColor: $hotel-color;
  defaultTypeColor: $default-type-color;
}
