:export {
  restaurantColor: #ce2812;
  attractionColor: #00a650;
  hotelColor: #ffe600;
  defaultTypeColor: #fff; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.input-control {
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  height: 45px;
  padding: 0 8px;
  margin-bottom: 3px;
  border: 1px solid #00a650;
  outline-color: yellow; }

.btn {
  background-color: #1e441e;
  outline: 0;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  color: #fff;
  font-size: 1.05rem;
  font-weight: normal; }
  .btn:hover {
    background-color: #0e210e; }
  .btn:focus {
    outline: dotted 1px #459c45; }

.btn-circle {
  box-sizing: border-box;
  border-radius: 50%;
  border: none;
  height: 50px;
  width: 50px;
  background-color: transparent;
  color: #ce2812;
  border: 2px solid #ce2812;
  font-size: 1.33rem;
  padding-top: 2px;
  outline: 0; }
  .btn-circle:hover {
    color: #9f1f0e;
    border-color: #9f1f0e; }
  .btn-circle:focus {
    outline: dotted 1px gray; }

:export {
  restaurantColor: #ce2812;
  attractionColor: #00a650;
  hotelColor: #ffe600;
  defaultTypeColor: #fff; }

html {
  box-sizing: border-box; }

body,
button,
input {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #152614;
  font-size: 13pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1,
h2,
h3,
h4,
h5 {
  font-size: 14pt;
  font-weight: normal; }

a {
  color: inherit;
  text-decoration: none; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

*[tabindex="0"],
button {
  cursor: pointer; }

.app-header {
  background-color: #fff;
  padding: 4px;
  border-bottom: 1px #ccc solid; }
  .app-header .site-logo img {
    max-height: 42px;
    display: block;
    margin: 0 auto; }

.app-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #152614;
  padding: 16px;
  color: #fff;
  text-align: center;
  z-index: 1; }
  .app-footer a {
    color: #fff; }

.app-sidebar {
  position: absolute;
  box-sizing: border-box;
  left: -90%;
  width: 90%;
  padding: 16px;
  height: calc(100vh - 90px);
  z-index: 1;
  background-color: #1e441e;
  color: #d3dee0;
  transition-property: left, right, width;
  transition-duration: 0.28s;
  transition-timing-function: ease-in-out; }
  .app-sidebar .btn-toggle-sidebar {
    position: absolute;
    top: 16px;
    right: -56px;
    transition: right 0.28s ease-in-out;
    z-index: 1; }
  .app-sidebar .sidebar-container {
    height: 100%;
    position: relative;
    overflow-y: scroll; }
    .app-sidebar .sidebar-container::-webkit-scrollbar {
      display: none; }
  .app-sidebar.is-open {
    left: 0; }
    .app-sidebar.is-open .btn-toggle-sidebar {
      right: 16px; }
  @media (min-width: 769px) {
    .app-sidebar {
      width: 320px;
      left: 0; }
      .app-sidebar .btn-toggle-sidebar {
        display: none; } }

.app-sidebar-header h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  color: #d3dee0; }

.places-list {
  margin: 40px 0; }
  .places-list li {
    position: relative;
    padding: 22px 4px;
    margin-bottom: 8px;
    border: solid 1px #163216;
    border-left: 4px solid #fff;
    box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.4); }
    .places-list li.restaurant {
      border-left-color: #ce2812; }
    .places-list li.attraction {
      border-left-color: #00a650; }
    .places-list li.hotel {
      border-left-color: #ffe600; }
    .places-list li:hover, .places-list li:focus {
      background-color: rgba(0, 0, 0, 0.1); }

.item-text {
  display: inline-block;
  width: calc(100% - 70px);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.places-list-icon {
  color: #000;
  opacity: 0.4;
  padding: 0 12px;
  display: inline-block;
  height: 100%; }

.form-search {
  position: relative;
  margin-bottom: 20px; }
  .form-search .search-icon {
    color: #1e441e;
    opacity: 0.5;
    position: absolute;
    right: 5px;
    padding: 14px 8px; }

.map-container {
  position: relative;
  background-color: #d3dee0;
  width: 100%;
  height: calc(100vh - 100px);
  left: 0px;
  transition: all 0.28s ease-in-out; }
  .map-container.selected-place {
    height: calc(100vh - 600px); }
  @media (min-width: 769px) {
    .map-container {
      width: calc(100% - 320px);
      left: 320px; }
      .map-container.selected-place {
        height: calc(100vh - 450px); } }

.place-info {
  box-sizing: border-box;
  position: relative;
  min-height: 280px;
  bottom: 0;
  right: 0;
  left: 0;
  padding-bottom: 40px;
  transition: all 0.28s ease-in-out;
  border-top: solid 4px #fff; }
  .place-info.restaurant {
    border-top-color: #ce2812; }
  .place-info.attraction {
    border-top-color: #00a650; }
  .place-info.hotel {
    border-top-color: #ffe600; }
  @media (min-width: 769px) {
    .place-info {
      width: calc(100% - 320px);
      left: 320px; } }

.place-info-image {
  box-sizing: border-box;
  float: right;
  height: 8em;
  display: block;
  background-position: center;
  background-size: cover;
  width: 100%;
  box-shadow: inset 0 -30px 20px -10px #d3dee0; }
  @media (min-width: 769px) {
    .place-info-image {
      width: 45%;
      height: 20em;
      box-shadow: inset 30px 0px 20px -10px #d3dee0; } }

.place-info-content {
  background-color: #d3dee0;
  box-sizing: border-box;
  float: left;
  padding: 20px;
  width: 100%;
  height: 22em; }
  @media (min-width: 769px) {
    .place-info-content {
      width: 55%;
      height: 20em; } }
  .place-info-content h2 {
    font-size: 1.5em;
    margin-top: 0; }
  .place-info-content p {
    line-height: 0.9em;
    margin-left: 10px; }

.close-place-info {
  bottom: 0;
  width: 100%; }

.back-place-info {
  position: absolute;
  right: 10px;
  background: #d3dee0; }

/*# sourceMappingURL=index.css.map */
